<h1>Chatr</h1>

<form>
  <input type='text' name='user' id='name' placeholder='Name'></input>
  <div class='spacing'></div>
  <textarea name="body" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<ul id="messages"></ul>
